.login-form {
    display: flex;
    flex-direction: column;
    width: 360px;
}

label {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-bottom: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    border-radius: 8px;
    border-width: 0;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;
    outline: auto;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}